body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 2rem;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.blue{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.alert{
    background-color: red;
}